<div class="about-wrap">
  <h3>At its simplest level, geocaching requires these 8 steps:</h3>
  <div class="how-to">
    <ol>
      <li>Register for a free Basic Membership.</li>
      <li>Visit the Find Em All! page.</li>
      <li>You can either enter your postal code and click "search", or enter the coordinates of the geocache</li>
      <li>Then your GPS device to assist you in finding the hidden geocache.</li>
      <li>Sign the Logbook and return the geocache to its original location.</li>
      <li>Repeat process and become a geocache master! Geocache Em' All!</li>
    </ol>
  </div>
</div>
